* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.paletaDeColores2 {
  color: #F3C892;
  color: #FFF1BD;
  color: #A3DA8D;
  color: #146356;
}

.App {
  //text-align: center;
  background-color: #146356;
}

;


// ***** NAVBAR ***** //

.navbar {
  background-color: #A3DA8D;
  z-index: 100;
  color: black;
  min-height: 120px;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-shadow: black 0 5px 15px 0px;

  ul li {
    display: inline-block;
    padding: 15px;
    list-style: none;

    &:hover a {
      color: #FFF1BD;
    }

    & a {
      text-decoration: none;
      color: #146356;
      font-size: 1.5rem;
      padding: 5px;

    }


    &:hover {
      transition: all 0.3s;
      transform: scale(1.2);
      box-shadow: 5px 3px 10px;
      border-radius: 5px;
    }
  }

  &__logo {
    margin-right: auto;
    cursor: pointer;
  }
}

;


// ***** MAIN ***** //

main {
  min-height: 100vh;  
}

.categorias {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  margin: 20px 0;

  .card {
    margin: 10px;
    cursor: pointer;
    background: #fff1bd48;
    border-radius: 0 150px;

    & .card__top {
      position: relative;
      overflow: hidden;
      border-radius: 50%;

      & img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;

        &:hover {
          transition: 1s;
          scale: 1.2;
        }
      }

      & h3 {
        z-index: 100;
        color: white;
        background: rgba(0, 0, 0, 0.4);
        box-shadow: black 5px 5px 10px;
        border-radius: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        backdrop-filter:blur(5px);
      }
    }

    & .card__bottom {
      display: flex;
      flex-direction: column;

      & button {
        background-color: #A3DA8D;
        padding: 5px;
        cursor: pointer;

        &:hover {
          transition: 0.5s;
          scale: 1.1;
          background-color: #FFF1BD;
        }
      }
    }
  }
}

.count {
  display: flex;  
  flex-direction: column;
  text-align: center;

  & span{
    font-size: 1.3rem;
  }
}

.contenedor__boton { 
  margin: 5px auto; 
  
  & button {
    margin: 10px;
    background-color: #A3DA8D;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #FFF1BD
    }
  }

  & span {
    text-align: center;
    margin: 5px;    
    padding: 2px;
    font-size: 1.2rem;
    background: #F3C892;
    border: solid black 2px;
    border-radius: 50%;
  }
}


.Loading {
  display: flex;
  justify-content: space-between;
  font-size: 4rem;
}

// ***** FOOTER ***** //
.piedepagina {
  text-align: center;
  background-color: #A3DA8D;
  color: black;
  box-shadow: black 0 -5px 15px 0px;
}




// ******* CARRITO ******//

.Cart {
  display: block;
  background-color: #FFF1BD;
  padding: 15px;
  

  & th {
    border: solid black 1px; 
    padding: 2px;
    font-size: 1.2rem; 
  }
}

.Cart__cell {
  background-color: #F3C892;  
  text-align: center;  
}

.Cart__total {
  font-size: 2rem;
  font-weight: 800;
}