* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};


.paletaDeColores2{
  color: #F3C892;
  color: #FFF1BD;
  color: #A3DA8D;
  color: #146356;
}

.App {
  //text-align: center;
  background-color: #146356;  
};


        // ***** NAVBAR ***** //

.navbar{
  background-color: #A3DA8D;
  color: black;
  min-height: 120px;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  
  ul li{
  display: inline-block;
  padding: 15px;
  list-style: none;    

    & a{
      text-decoration: none;
      color: #146356;
      font-size: 1.5rem;
      padding: 5px;

      &:hover{
        color: #FFF1BD;
      }
      
    }
    

    &:hover{      
      transition: all 0.3s;
      transform: scale(1.2);
      box-shadow: 5px 3px 10px;  
      border-radius: 5px;      
    }
  }

  &__titulo{
    margin-right: auto;
    background-color: #212121;
    padding: 5px;
    border-radius: 15px;
    color: #F6F6F6;
    font-size: 1.5rem;
  }
};
        // ***** MAIN ***** //

main{  
  min-height: 100vh;         
}

.categorias{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  margin: 20px 0;

  .card {
    cursor: pointer;
    & .card__top{
      position: relative;
      overflow: hidden;
      border-radius: 50%;
        & img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        
          &:hover{      
          transition: 1s;      
          scale:1.2;                  
          }     
        }

        & h3{
        z-index: 100;
        color: white;
        background: rgba(0, 0, 0, 0.4);
        box-shadow: black 5px 5px 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50% );          
        }      
    }
  }    
  }
 /* & div{
    display: flex;
    flex-direction: column;  
    min-width: 300px;
    position: relative; 
    
    border-radius: 50%; 
  }*/
  /*
  & div h2,& div span{
    z-index: 100;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: black 5px 5px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% ); 
    &:hover{
      cursor: pointer;
    }       
  } 
  */
 


        // ***** FOOTER ***** //
.piedepagina{
  text-align: center;
  background-color: #A3DA8D;
  color: black;   
}





