* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};

.paletaDeColores{
  color: #212121;
  color: #6D9886;
  color: #D9CAB3;
  color: #F6F6F6;
}
.App {
  //text-align: center;
  background-color: #6D9886
};


        // ***** NAVBAR ***** //

.navbar{
  background-color: #D9CAB3;
  color: black;
  min-height: 120px;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  
  ul li{
  display: inline-block;
  padding: 15px;
  list-style: none;
  
    & a{
      text-decoration: none;
      color: #212121;
      font-size: 1.5rem;
      padding: 5px;

      &:hover{
        color: #6D9886;
      }
    }  

    &:hover{      
      transition: all 0.3s;
      transform: scale(1.2);
      box-shadow: 5px 3px 10px;  
      border-radius: 5px;      
    }
  }

  &__titulo{
    margin-right: auto;
    background-color: #212121;
    padding: 5px;
    border-radius: 15px;
    color: #F6F6F6;
    font-size: 2rem;
  }
};
        // ***** MAIN ***** //

.categorias{
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 20px 0;

  & div{
    display: flex;
    flex-direction: column;  
    position: relative; 
    overflow: hidden;
    border-radius: 50%; 
  }
  & div h2,& div span{
    z-index: 100;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: black 5px 5px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% );        
     
  }
  & div span{
    top: 80%;
    font-size: 2rem;
  }
  & div img{    
    width: 300px;
    height: 300px;
    object-fit: cover;       
    
    &:hover{      
      transition: 1s;      
      scale:1.2;        
     }      
   
  }
}

        // ***** FOOTER ***** //
.piedepagina{
  text-align: center;
  background-color: #212121;
  color: #F6F6F6;
}





